<div class="checkbox icheck">
  <label [ngClass]="{'hover': hasMouseDentro()}" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <div class="icheckbox_square-blue"
         [ngClass]="{'checked': hasChecked(), 'hover': hasMouseDentro()}"
         aria-checked="true"
         aria-disabled="false"
         style="position: relative;"
         (mouseenter)="mouseenter()"
         (mouseleave)="mouseleave()">
      <div class="MyCheckBox">
        <ng-content></ng-content>
        <ins class="iCheck-helper MyCheckBox"></ins>
      </div>
    </div> {{label}}
  </label>
</div>
