<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="btnCloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <p>
            <span>
              <img src="../../../../assets/img/info.png" *ngIf="icon==1">
              <img src="../../../../assets/img/question.png" *ngIf="icon==2">
              <img src="../../../../assets/img/erro.png" *ngIf="icon==3">
            </span>
            {{body}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)="Cancelar()" *ngIf="cancelVisible">{{cancelCaption}}</button>
        <button type="button" class="btn btn-primary" (click)="Confirmar()" *ngIf="confirmVisible">{{confirmCaption}}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<button type="button" id="btnShowModal" class="btn btn-default hide" data-toggle="modal" data-target="#modal-default">
  Launch Default Modal
</button>
<!-- /.modal -->
